<head>
	<title>Project_2</title>
</head>
<h2>Project 2</h2>
<p>
	<h4>
		- For this project I added the bootstrap.sass gem to the gemfile<br/>
		- bundle install<br/>
		- created file bootstrap_and_overrides.css.scss in apps/stylesheets folder<br/>
		- added imports for bootstrap to the new file<br/>
		- added //= require bootstrap to application.js<br/>
		- created a new route for this page<br/>
		- added this page as the file project_2.html.erb to my pages folder <br/>
		- added project_2 to the pages_controller.rb file <br/>
		- lastly I added a URL parameter to the link_to function in home.html.erb <br/>	  
	</h4>
</p>
	
